

.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todolist{
  background-color: mistyrose;
  border-radius: 5px;
  padding: 15px;
}

ul {
  padding: 2px;
  list-style-type: none;
}

.task{

}

.task-done{
  opacity: 0.5;
  text-decoration: line-through;
}

.btn-active {
  background-color: mistyrose;
}

.error {
  border: red 2px solid;
}

.background-container {
  background-image: url('./assets/pink-marble-background_621302-3332.jpg.avif');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
